# Порт API генератора отчётов (для фронтенда)
HOST=0.0.0.0
PORT=8000
RELOAD=false

BACKEND_URL=http://host.docker.internal:8080

REPORTS_DIR=generated_reports

CORS_ORIGINS=*

USE_EUREKA=true
BACKEND_SERVICE_NAME=project-service
EUREKA_SERVER_URL=http://eureka:8761/eureka